footer {
    background-color: #00FF00;
    height: 60px;
    width: 100%;
    position: absolute;
    bottom: 0;
}
footer p {
    vertical-align: middle;
    text-align: center;
    margin-top: 23px;
}
